<h2>Register new user</h2>

<form action="/signup" method="post">
	<fieldset>
		<label for="email" class="label-required">Email</label>
		<input type="email" id="email" name="email" class="input-medium">

		<label for="email-confirmation" class="label-required">Email confirmation</label>
		<input type="email" id="email-confirmation" name="email-confirmation" class="input-medium">
	</fieldset>

	<fieldset>
		<label for="password" class="label-required">Password</label>
		<input type="password" id="password" name="password" class="input-medium">

		<label for="password-confirmation" class="label-required">Password confirmation</label>
		<input type="password" id="password-confirmation" name="password-confirmation" class="input-medium">		
	</fieldset>

	<input type="submit" value="Signup">
</form>
